.leftbar > ul > li > a.active {
    color: #ff0000;
}

/*[ Color ]
///////////////////////////////////////////////////////////
*/
.colorwhite {color: #fff;}
.color0 {color: #e65540;}
.color1 {color: #888888;}
.color2 {color: #333333;}


/*[  ]
-----------------------------------------------------------
*/
.color0-hov:hover {color: #e65540;}

