/*=========================================================
SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
=========================================================*/

/*[ Special ]
///////////////////////////////////////////////////////////
*/



/*[ Size ]
///////////////////////////////////////////////////////////
*/
.size1 {
    width: 100%;
    height: 40px;
}

.size2 {
    width: 100%;
    height: 46px;
}

.size3 {
    width: 60px;
    height: 60px;
}

.size4 {
    width: 100%;
    height: 30px;
}

.size5 {
    width: 50px;
    height: 58px;
}

.size6 {
    width: 100%;
    height: 58px;
}

.size7 {
    width: 42px;
    height: 41px;
}

.size8 {
    width: 50px;
    height: 41px;
}

.size8 {
    width: 50px;
    height: 41px;
}

.size9 {
    width: 162px;
    height: 45px;
}

.size10 {
    width: 176px;
    height: 45px;
}

.size11 {
    width: 260px;
    height: 45px;
}

.size12 {
    width: 193px;
    height: 45px;
}

.size13 {
    max-width: 215px;
    height: 40px;
}

.size14 {
    width: 185px;
    height: 45px;
}

.size15 {
    width: 100%;
    height: 50px;
}

.size16 {
    width: 100%;
    height: 48px;
}

.size17 {
    width: 120px;
    height: 30px;
}

.size18 {
    width: 100%;
    min-height: 150px;
}

.size19 {
    max-width: 266px;
    height: 50px;
}

.size20 {
    width: 100%;
    min-height: 120px;
}

.size21 {
    width: 100%;
    min-height: 503px;
}

.size22 {
    width: 100%;
    min-height: 45px;
}

.size23 {
    width: 45px;
    height: 45px;
}

.size24 {
    max-width: 1070px;
    height: 100%;
}

/*[ Width Size ]
///////////////////////////////////////////////////////////
*/
.w-size1 {
    width: 161px;
}

.w-size2 {
    width: 179px;
}

.w-size3 {
    max-width: 294px;
}

.w-size4 {
    max-width: 257px;
}

.w-size5 {
    width: calc(100% / 3);
}

.w-size6 {
    width: 33%;
}

.w-size7 {
    width: 13%;
}

.w-size8 {
    width: 28%;
}

.w-size9 {
    max-width: 300px;
}

.w-size10 {
    max-width: 1830px;
}

.w-size11 {
    width: 72px;
}

.w-size12 {
    width: 200px;
}

.w-size13 {
    width: 53%;
}

.w-size14 {
    width: calc(47% - 55px);
}

.w-size15 {
    width: 21%;
}

.w-size16 {
    width: 79%;
}

.w-size17 {
    width: 138px;
}

.w-size18 {
    max-width: 442px;
}

.w-size19 {
    width: 34%;
}

.w-size20 {
    width: 66%;
}

.w-size21 {
    max-width: 215px;
}

.w-size22 {
    width: 90px;
}

.w-size23 {
    width: calc(100% - 110px);
}

.w-size24 {
    width: 180px;
}

.w-size25 {
    width: 160px;
}

.w-size26 {
    max-width: 415px;
}

.w-size27 {
    max-width: 482px;
}

.w-size28 {
    max-width: 570px;
}

/*[ Height Size ]
///////////////////////////////////////////////////////////
*/
.h-size1 {
    max-height: 138px;
}

.h-size2 {
    height: 22px;
}
