.container-menu-header-v2 {
    background: $container-menu-header-v2;
}

#app {
    main {
        background: $white;

        .category-title, .type-title {
            color: $red;
            font-size: $font-size-lg;
        }
    }
}

#modal-video-01 .modal-content {
    background: transparent !important;
}

.wrap-video-mo-01 {
    background: transparent;
    margin: 0 auto;
}
